.content-wrapper {
    background-image: url("../img/lista.png");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.table{
    background-color: rgba(0,0,0,0.5);
}

.card-body{
    background-color:transparent;
}

#titulo{
    color: white;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
}

h1{
    background-color: rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 500px;

}


